body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-color: #0b075e;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 250px;
  min-height: 250px;
  transition: transform 0.3s ease;
  border-radius: 5px;
}

img:hover {
  transform: rotate(3deg);
}
